*
  :margin 0
  :padding 0

body
  :background #7C8EA6
  :text-align center

.container
  :background #CCCCCC
  :border-radius 0.5em
  :margin 1em auto
  :padding 2em 2em 0.8em 2em
  :text-align left
  :width 960px

header
  :background #45648C
  :text-align left
  :margin 0 auto

#content
  .store-logo
    :margin-bottom 1.5em

    img
      :height 46px
      :width auto

  ul.shirts 
    :list-style-type none

    li
      :display inline
      :margin 0 0.3em

      a
        :text-decoration none

        img
          :border 0.2em solid #383838
          :border-radius 0.5em
          :height auto
          :width 173px