@import reset

// colors
$page-bg-color: #7C8EA6

$header-bg-color: #45648C
$header-link-color: #FFF
$header-text-color: #FFF


$content-bg-color: #CCC

$shirt-bg-color: #383838

// structure
body
  :background $page-bg-color
  :font-family Verdana
  :text-align center

.container
  :margin 0 auto
  :text-align left
  :width 960px

header
  :background $header-bg-color
  :color $header-text-color
  :text-align left
  :margin 0 auto
  ul#menu
    :float right
    :font-size .9em
    :list-style-type none
    :margin-top -1.4em
    li
      :display inline
      :margin-left 1.2em
      a
        :color $header-link-color
        :text-decoration none
        &:hover
          :text-decoration underline
      &.selected
        a
          :text-decoration underline

#content
  .container
    :background $content-bg-color
    :border-radius 0.2em
    :margin 1em auto
    :padding .7em 1em 0.8em 1em

  .store-logo
    :margin-bottom 1.5em

    img
      :height 46px
      :width auto

  // shirts
  ul.shirts 
    :list-style-type none

    li
      :display inline
      :margin 0 0.3em

      a
        :text-decoration none

        img
          :border 0.2em solid $shirt-bg-color
          :border-radius 0.5em
          :height auto
          :width 173px