<div class="store-logo">
    <a href="/camiseteria">
        <img src="images/camiseteria.png" alt="Camiseteria" />
    </a>
</div>

<%= erb(:'partials/tshirts_listing', :locals => {:tshirts => tshirts}) %>