<div class="store-logo">
    <a href="http://camiseteria.com">
        <img src="images/camiseteria.png" alt="Camiseteria" />
    </a>
</div>

<ul class="shirts">
    <% tshirts.each do |tshirt| %>
        <li>
            <a href="<%= tshirt['tshirt_url'] %>">
                <img src="<%= tshirt['image_url'] %>" alt="<%= tshirt['name'] %>"/>
            </a>
        </li>
    <% end %>
</ul>