*{margin: 0; padding: 0}

body {
    background: #7C8EA6;
    text-align: center;
}

header, #content {
}

header {
    background: #45648C;
    text-align: left;
    margin: 0 auto;
}

#content {
}

.container {
    background: #CCCCCC;
    text-align: left;
    margin: 1em auto;
    width: 960px;
    padding: 2em 2em 0.8em 2em;
    border-radius: 0.5em;
}

.store-logo {
    margin-bottom: 1.5em;
}

.store-logo img {
    height:46px;
    width:auto;
}

ul.shirts {
    list-style-type: none;
}

ul.shirts li {
    display: inline;
    margin: 0 0.3em;
}

ul.shirts li a {
    text-decoration:none;
}

ul.shirts li a img {
    border: 0.2em solid #383838;
    border-radius: 0.5em;
    height:auto;
    width:173px;
}

